body{ background-color: #fffaf0;}
#show{width: 100%; height: 100%;}
table {
    border: 3px solid black;
    width: 50%;
    height: 80%;
    font-weight:bold;
}   

tr td {
    border-collapse: collapse;
    text-align: center; 
    }
button{width:auto;height: 5%;font-weight: bold;
    background-color: #f4a460; 
    border-radius: 100%;border: saddlebrown;;
}
.odd{background-color: white; color: white;} .odd:hover{
    color:black;
}
.even{background-color: gray; color: gray;}.even:hover{
    color: black;
} 
